h1 {
	font-size: 54px;
	font-weight: 200;
	letter-spacing: -2px;
	line-height: 1em;
	margin: 0.5em 0;
}

.person {
	border: 1px solid #ddd;
	border-radius: 3px;
	margin-bottom: 30px;
	width: 168px;
}

	.photo {
		background-color: black;
		background-position: center center;
		background-size: cover;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		box-shadow: inset 0 0 23px 0 rgba(0,0,0, 0.25);
		width: 168px;
		height: 130px;
		overflow: hidden;
	}
	
		.photo.clickable { cursor: pointer; }
	
	.nametag {
		height: 22px;
		padding: 7px;
	}

	.nametag h6 {
		color: #888;
		font-weight: 500;
		line-height: 1em;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
		
		.nametag h6.timestamp {
			opacity: 0;
			font-weight: normal;
			-moz-transition: opacity 0.5s ease-in-out;
			-webkit-transition: opacity 0.5s ease-in-out;
			transition: opacity 0.5s ease-in-out;
		}

	.nametag img {
		border-radius: 2px;
		float: left;
		height: 24px;
		margin-right: 7px;
		width: 24px;
	}

.visible { opacity: 1 !important; }